# Node modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log
debug.log

# Database
*.sqlite
*.db

# Output
dist/
build/
coverage/

# VSCode & IDE files
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db
